<div class="container my-5 p-4 bg-light">
  <h3>Login</h3>
  <form action="" [formGroup]="loginUser" (ngSubmit)="onSubmit()">
    <div class="mb-3 row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="staticEmail"
          placeholder="email@example.com"
          formControlName ="email"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputPassword" class="col-sm-2 col-form-label"
        >Password</label
      >
      <div class="col-sm-10">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="****"
          formControlName = "password"
        />
      </div>
    </div>
    <div class="d-grid gap-2 col-12 mx-auto">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div>
