<div class="container my-5" *ngIf="!isBlogCreated; else content">
  <form action="" [formGroup]="createBlog" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Title"
        formControlName="title"
      />
    </div>
    <div
      *ngIf="
        getFormErrors('title')?.required && createBlog.controls['title'].touched
      "
      class="error-message"
    >
      Title is required.
    </div>
    <div *ngIf="getFormErrors('title')?.minlength" class="error-message">
      Title must be at least 15 characters long.
    </div>
    <div *ngIf="getFormErrors('title')?.maxlength" class="error-message">
      Title cannot exceed 50 characters.
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Content</label
      >
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="5"
        formControlName="description"
      ></textarea>
      <div
        *ngIf="
          getFormErrors('description')?.required &&
          createBlog.controls['description'].description
        "
        class="error-message"
      >
        description is required.
      </div>
      <div
        *ngIf="getFormErrors('description')?.minlength"
        class="error-message"
      >
        description must be at least 300 characters long.
      </div>
      <div
        *ngIf="getFormErrors('description')?.maxlength"
        class="error-message"
      >
        description cannot exceed 500 characters.
      </div>
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>
<ng-template #content>
    <div>
        <h4 class="text-light bg-success p-2">Blog published !!!</h4>
    </div>
    <div class="container my-5">
        <div class="card p-2">
            <h3>{{ newBlog.blog.title }}</h3>
            <div>
              {{ newBlog.blog.description }}
            </div>
        </div>
    </div>
</ng-template>
